* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    background: #afacac;
}

.board {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
    align-self: center;
	width: 500px;
	height: 500px;
	margin: 100px auto;
	background-color: rgb(255, 255, 255);
}

.cell {
	width: 100px;
	height: 100px;
	margin: 10px;
	border: 2px solid rgb(174, 82, 82);
}

.char {
	width: 100%;
	height: 100%;
	background-image: url('../img/goblin.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}